{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <h3 class="text-center alert alert-info">Add new student</h3>

    <form action="# " method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-success" value="Add">
    </form>
    </div>

<div class="col-sm-7 offset-1">
    <h4 class="text-center alert alert-info">show student info</h4>
    {% if st %}
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Password</th>
            <th scope="col">Action1</th>
            <th scope="col">Action2</th>
          </tr>
        </thead>
        <tbody>
            {% for data in st %}
          <tr>
            <th scope="row">{{data.id}}</th>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.mobile}}</td>
            <td>{{data.password}}</td>
            <td><a href="{% url 'update_data' data.id %}" class="btn btn-warning"">Edit</a></td>
            <td>
                <form action="{% url 'delete_data' data.id %}" method="POST">
                    {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </td>
          </tr>
          {% endfor %}
           </tbody>
      </table>
    {% else %}
    <h4 class="text-center alert alert-warning">no data</h4>
    {% endif %}
</div>
</div>



{% endblock content %}